In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-s-bykov/Product/KC_case_data.csv')

In [9]:
df.head()

,date,event,purchase_sum,os_name,device_id,gender,city,utm_source
0,2020-01-01,app_start,NaN,android,669460,female,Moscow,-
1,2020-01-01,app_start,NaN,ios,833621,male,Moscow,vk_ads
2,2020-01-01,app_start,NaN,android,1579237,male,Saint-Petersburg,referal
3,2020-01-01,app_start,NaN,android,1737182,female,Moscow,facebook_ads
4,2020-01-01,app_start,NaN,ios,4029024,female,Moscow,facebook_ads

In [10]:
df.dtypes

date             object
event            object
purchase_sum    float64
os_name          object
device_id         int64
gender           object
city             object
utm_source       object
dtype: object

In [8]:
df.describe()

        purchase_sum     device_id
count  141383.000000  2.747968e+06
mean      709.116092  1.090841e+07
std      1289.458186  9.871445e+06
min        61.000000  4.013000e+03
25%       226.500000  1.975336e+06
50%       394.000000  8.731416e+06
75%       560.500000  1.736726e+07
max      7884.000000  3.539777e+07

In [12]:
df.shape

(2747968, 8)

In [2]:
# взято отсюда: https://ru.stackoverflow.com/questions/1088300/как-скачивать-файлы-с-яндекс-диска
import pandas as pd
import requests
import urllib
import json

In [3]:
file_url = 'KC_case_data.csv'
url = 'https://cloud-api.yandex.net/v1/disk/public/resources/download' + '?public_key=' + urllib.parse.quote(folder_url) + '&path=/' + urllib.parse.quote(file_url)

In [4]:
r = requests.get(url) # запрос ссылки на скачивание
h = json.loads(r.text)['href'] # 'парсинг' ссылки на скачивание

KeyError: 'href'

In [5]:
# разделитель и кодировка могут быть другими
df = pd.read_csv(h, sep=';', error_bad_lines=False, comment='#' , encoding='cp1251')

NameError: name 'h' is not defined