In [2]:
import pandas as pd
import os

In [15]:
# шаг 1
# df = pd.DataFrame([[1,2], [3,4], [5,6]], columns=['a', 'b'])
df_out = 'df has {} rows and {} columns'
df_shape = df_out.format(df.shape[0], df.shape[1])
# df_shape

'df has 3 rows and 2 columns'

In [33]:
# шаг 2
# import numpy as np
# df = pd.DataFrame([[1, np.nan, np.nan, 9], [2, 3, np.nan, 5], [np.nan, np.nan, 6, 10], [7, 8, np.nan, 5]], columns=['a', 'b', 'c', 'd'])
na_number = df.isna().sum()
# na_number

In [34]:
# шаг 3
df_types = df.dtypes

a    float64
b    float64
c    float64
d      int64
dtype: object

In [46]:
# шаг 4
# df = pd.DataFrame([[1, 7, 7, 9], [2, 3, 7, 5], [7, 7, 6, 10], [7, 8, 7, 5]], columns=['age', 'b', 'c', 'd'])
df.age = df.age.astype('int')

In [45]:
# шаг 5
# df = pd.DataFrame([[1, 7, 7, 9], [2, 3, 7, 5], [7, 7, 6, 10], [7, 8, 7, 5]], columns=['age', 'sex', 'c', 'd'])
df = df.drop(columns=['age', 'sex'])
# вариант:
# df = df.drop(['age', 'sex'], axis=1)

In [ ]:
# шаг 6
df = df.drop_duplicates(subset='client_id')

In [53]:
# шаг 7
# numbers = [1, -2, 3, 0, -3, 2]
positive_numbers = []
for i in numbers:
    if i < 0:
        continue
    elif i == 0:
        break
    positive_numbers.append(i)

In [4]:
# шаг 8
# path_to_file = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-s-bykov/lesson_3/3_taxi_peru.csv'
taxi = pd.read_csv(path_to_file, sep=';')
taxi['start_at'] = pd.to_datetime(taxi['start_at'])
taxi['end_at'] = pd.to_datetime(taxi['end_at'])
taxi['arrived_at'] = pd.to_datetime(taxi['arrived_at'])
taxi = taxi.query("start_type == 'asap' or start_type == 'reserved'")
# вариант конвертации данных в колонках (одна строка вместо трех):
# taxi[['start_at', 'end_at', 'arrived_at']] = taxi[['start_at', 'end_at', 'arrived_at']].apply(pd.to_datetime)