In [1]:
# шаг 2
import pandas as pd
path_to_file = ('/mnt/HC_Volume_18315164/home-jupyter/jupyter-s-bykov/shared/homeworks/python_ds_miniprojects/2/bookings.csv')
bookings = pd.read_csv(path_to_file, sep=';')
bookings_head = bookings.head(7)

In [2]:
bookings.head(2)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01

In [3]:
# шаг 3
bookings.shape

(119390, 21)

In [4]:
# шаг 4
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [2]:
# шаг 5
bookings = bookings.rename(str.lower, axis='columns')
def rename_whitespace(name):
    new_name = name.replace(' ', '_')
    return new_name
bookings = bookings.rename(columns = rename_whitespace)

In [5]:
# шаг 5 вариант
def rename_whitespace(name):
    new_name = name.replace(' ', '_').lower()
    return new_name
bookings = bookings.rename(columns = rename_whitespace)

In [5]:
# шаг 5 вариант
bookings.columns = bookings.columns.str.replace(' ', '_')
bookings = bookings.rename(str.lower, axis='columns')

In [ ]:
# шаг 5 непонятка, метод не работает
bookings = bookings.rename(str.replace(' ', '_'), axis='columns')

In [6]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [9]:
# шаг 6
top_country = (bookings
               .query('is_canceled == 0')
               .groupby('country')
               .agg({'hotel': 'count'})
               .sort_values('hotel', ascending=False))
top_country.head()

         hotel
country
PRT      21071
GBR       9676
FRA       8481
ESP       6391
DEU       6069

In [10]:
# шаг 6 вариант
top_country = bookings.query('is_canceled == 0')
top_country.country.value_counts().head()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [11]:
# шаг 7
bookings.groupby('hotel').agg({'stays_total_nights': 'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [12]:
# шаг 8
fault = bookings.query('reserved_room_type != assigned_room_type')
fault.shape

(14917, 21)

In [102]:
# шаг 9
bookings.groupby(['arrival_date_year', 'arrival_date_month']).agg({'hotel': 'count'}).sort_values('hotel', ascending=False).head()

                                      hotel
arrival_date_year arrival_date_month
2017              May                  6313
2016              October              6203
2017              April                5661
                  June                 5647
2016              May                  5478

In [13]:
# шаг 10
(bookings
    .query('is_canceled == 1' and "hotel == 'City Hotel'")
    .groupby('arrival_date_year')
    .arrival_date_month.value_counts())

arrival_date_year  arrival_date_month
2015               September             3529
                   October               3386
                   August                2480
                   December              1654
                   July                  1398
                   November              1235
2016               October               4219
                   June                  3923
                   September             3871
                   May                   3676
                   April                 3561
                   August                3378
                   July                  3131
                   November              3122
                   March                 3046
                   December              2478
                   February              2371
                   January               1364
2017               May                   4556
                   June                  3971
                   April                 3919
                   July                  3559
                   March                 3412
                   August                3125
                   February              2594
                   January               2372
Name: arrival_date_month, dtype: int64

In [14]:
# шаг 11
bookings.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,stays_total_nights,adults,children,babies
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,3.427900,1.856403,0.103890,0.007949
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,2.557439,0.579261,0.398561,0.097436
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,2.000000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,3.000000,2.000000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,4.000000,2.000000,0.000000,0.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,69.000000,55.000000,10.000000,10.000000

In [19]:
# шаг 12
bookings['total_kids'] = bookings.children + bookings.babies
bookings.groupby('hotel').agg({'total_kids': 'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [47]:
# шаг 13
bookings['has_kids'] = bookings.total_kids > 0
kids_churn = bookings.query('is_canceled == 1 and has_kids == True').shape[0] / bookings.query('has_kids == True').shape[0]
round(kids_churn * 100, 2)

34.92

In [48]:
# шаг 13 продолжение
no_kids_churn = bookings.query('is_canceled == 1 and has_kids == False').shape[0] / bookings.query('has_kids == False').shape[0]
round(no_kids_churn * 100, 2)

37.22