In [1]:
# дополнительный проект
import pandas as pd
df = pd.read_table('/mnt/HC_Volume_18315164/home-jupyter/jupyter-s-bykov/lesson_6/gff.tsv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 512 entries, 0 to 511
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   seq_id      512 non-null    object
 1   source      512 non-null    object
 2   type        512 non-null    object
 3   start       512 non-null    int64
 4   end         512 non-null    int64
 5   score       512 non-null    object
 6   strand      512 non-null    object
 7   phase       512 non-null    object
 8   attributes  512 non-null    object
dtypes: int64(2), object(7)
memory usage: 36.1+ KB

In [2]:
df.head(2)

,seq_id,source,type,start,end,score,strand,phase,attributes
0,chr17,RefSeq,exon,6811330,6811453,.,+,.,Parent=XM_001475631.1
1,chr17,RefSeq,CDS,6808204,6808245,.,+,0,Name=CDS:NC_000083.5:LOC100040603;Parent=XM_00...

In [11]:
df.attributes.str.startswith('Parent').value_counts()

True     280
False    232
Name: attributes, dtype: int64

In [12]:
df.attributes.value_counts()

Parent=XM_001475631.1                                       280
Name=CDS:NC_000083.5:LOC100040603;Parent=XM_001475631.1,    170
ID=XM_001475631.1;Parent=NC_000083.5:LOC100040603            33
ID=;Parent=XM_001475631.1                                    29
Name: attributes, dtype: int64

In [13]:
df.type.value_counts()

exon               201
CDS                170
five_prime_UTR      47
mRNA                33
three_prime_UTR     32
protein             29
Name: type, dtype: int64